.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  text-align: left;
}

.boldText {
  font-weight: 800;
}
